@use '../../styles/variables' as *;

.layout-container {
    display: flex;
    height: 100%;
    width: 100%;
    background-color: $bg-content;
}

.sidebar-wrapper {
    width: $sidebar-width;
    min-width: $sidebar-width;
    background-color: $bg-sidebar;
    border-right: 1px solid $border-color;
    height: 100%;

    display: flex;
    flex-direction: column;
}

.content-wrapper {
    flex: 1;
    background-color: $bg-content;
    display: flex;
    flex-direction: column;
}