@use 'app/styles/variables.scss' as *;

* {
    box-sizing: border-box;
    position: relative;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    text-decoration: none;
}

body {
    height: 100vh;
}